<a href="https://colab.research.google.com/github/kzeynep/Python_proje/blob/main/Property_Prices.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
#Evin alanı + oda sayisi +bin yasi + fiyati olan yapay zeka ile kullanarak evin fiyati belirleme

In [17]:
import pandas as pd 
import matplotlib.pyplot as plt
#sklearn library 
from sklearn import linear_model
#veri setimizi import ediyoruz, ayrac olarak noktalı virgül olduğu için bunu belirtiyoruz
df = pd.read_csv("multilinearregression.csv",sep=";")

In [18]:
#veri setimizi görelim ve doğru import ettiğiniz kontrol edelim :
df

   alan  odasayisi  binayasi   fiyat
0   180          5        10  510000
1   225          4        18  508000
2   260          3         2  548000
3   320          6        10  650000
4   335          4         9  628000
5   345          5        14  632000
6   355          3         0  680000
7   400          4        10  725000

In [19]:
#linear regression modeli tanımlıyoruz :
reg = linear_model.LinearRegression()
reg.fit(df[['alan', 'odasayisi', 'binayasi']], df['fiyat'])
#prediction yapalım
reg.predict([[230,4,10]])

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([530243.29284619])

In [20]:
reg.predict([[230,6,0]])

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([586097.7833456])

In [21]:

import pandas as pd
import matplotlib.pyplot as plt
# sklearn library
from sklearn import linear_model

# veri setimizi import ediyoruz, ayraç olarak noktalı virgül olduğu için bunu belirtiyoruz:
df = pd.read_csv("multilinearregression.csv",sep = ";")


# In[2]:


# Veri setimizi görelim ve doğru import ettiğiniz kontrol edelim:
df


# In[3]:


df[['alan', 'odasayisi', 'binayasi']]


# In[4]:


df['fiyat']


# In[5]:


# linear regression modeli tanımlıyoruz:

reg = linear_model.LinearRegression()
reg.fit(df[['alan', 'odasayisi', 'binayasi']], df['fiyat'])

# Prediction yapalım..

reg.predict([[230,4,10]])


# In[10]:


reg.predict([[230,6,0]])


# In[11]:


reg.predict([[355,3,20]])


# In[12]:


reg.predict([[230,4,10], [230,6,0], [355,3,20]])


# In[13]:


reg.coef_


# In[14]:


reg.intercept_


# In[15]:


# Multiple Linear regression formülümüze dönersek hatırlayalım:
# y= a + b1X1 + b2X2 + b3X3 + ... formülümüzdü

a = reg.intercept_
b1 = reg.coef_[0]
b2 = reg.coef_[1]
b3 = reg.coef_[2]

x1 = 230
x2 = 4
x3 = 10
y = a + b1*x1 + b2*x2 + b3*x3

y


# In[ ]:





# In[ ]:

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

530243.2928461881